<template>
  <section class="applications-list">
  	<div class="container">
  		<div class="row">

  			<div class="col-12">
  				<div class="applications-list-container">
  					<single-application
             	v-for="application in getApplications"
             	:name="application.name"
             	:email="application.email"
             	:skills="application.skills"
             	:skillset="application.skillset"
              :key="application.id">
  					</single-application>
						<div
							v-if="getApplications == ''"
							class="alert alert-danger"
							role="alert">
						  Sorry, no new applications
						</div>
  				</div>
  			</div>

  		</div>
  	</div>
  </section>
</template>

<script>
// @ is an alias to /src
import jQuery from 'jquery'
import { mapGetters, mapActions } from 'vuex'
import SingleApplication from '@/components/SingleApplication.vue'

// assets
import selectArrow from '@/assets/select-arrow.png'

export default {
  name: 'applications',
  data () {
  	return {
  	}
  },
  computed: {
    ...mapGetters([
    	'getApplications',
    	// getApplications
    ])
  },
  components: {
  	'single-application': SingleApplication
  },
  mounted () {
  	jQuery('[data-toggle="tooltip"]').tooltip()
  }
}
</script>

<style lang="scss">
$main-color-blue: #01a4bd;
$main-color-blue-rgb: rgb(1, 164, 189);
$input-bg-color: #f5f8fa;
$tooltip-bg-color: #435c77;
$select-text-color: #ced4da;

.applications-list {
	.applications-list-container {
		.applications-list-container-single {
			width: 100%;
			background-color: #fafbfc;
			border: 1px solid #eff2f6;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 1rem;
			margin: 1rem 0;
			&-name {
				font-size: 1.3em;
				text-transform: capitalize;
				margin: 0;
				margin-bottom: .3rem;
				padding: 0;
			}
			&-email {
				font-size: .9em;
				color: $select-text-color;
				margin: 0;
				padding: 0;
			}
			&-skills {
				font-size: 1.2em;
				color: $main-color-blue;
				margin: 0;
				padding: 0;
			}
		}
	}
}

</style>
