<template>
  <section class="application-form">
  	<div class="container">
  		<div class="row">

  			<div class="col-12  p-sm-0">
					<form>
					  <div class="form-group">
					    <label class="form-group-label" for="form-name">
					    	Name
						    <span
						    	class="btn-tooltip"
						    	data-toggle="tooltip"
						    	data-placement="right"
						    	:title="tooltips.name"></span>
					    </label>
					    <input
					    	type="text"
					    	class="form-control application-form"
					    	id="form-name"
					    	v-model="formName">
					  </div>
					  <div class="form-group">
					    <label
					    	class="form-group-label"
					    	for="form-email">Email</label>
					    <input 
					    	type="email" 
					    	class="form-control application-form" 
					    	id="form-email"
					    	v-model="formEmail">
					  </div>

					  <div class="form-group">
					    <select class="form-control" id="exampleFormControlSelect1" v-model="chooseSkills">
							  <option value="single">Skills - single select</option>
							  <option value="single_group">Skills - single select + grouping option</option>
							  <option value="single_search">Skills - multi select + search</option>
					    </select>
					  </div>


					  <div class="form-group" v-show="chooseSkills == 'single'">
					    <label
					    	class="form-group-label"
					    	for="form-skills">Skills</label>
							<select
								:style="{	backgroundImage: `url('${selectArrow}')`}"
								class="form-control application-form select-form"
								id="form-skills"
								v-model="formSelectedSkillSingle">
							  <option v-for="option in options" v-bind:value="option.value">
							    {{ option.text }}
							  </option>
							</select>
					  </div>

					  <div class="form-group" v-show="chooseSkills == 'single_group'">
								<single-select-group 
									:options="optionsGroup"
									@selectedOption="selectedOption">
							    <label
							    	class="form-group-label"
							    	for="form-skills">Skills single group</label>
								</single-select-group>
					  </div>

					  <div class="form-group" v-show="chooseSkills == 'single_search'">
								<single-select-group-search 
									:options="options"
									@selectedOptionSearch="selectedOptionSearch">
							    <label
							    	class="form-group-label"
							    	for="form-skills">Skills search</label>
								</single-select-group-search>
					  </div>

					  <button
					  	type="submit"
					  	class="btn btn-application"
					  	@click="sendForm($event)">Send</button>
					</form>
  			</div>
				<div class="col-12">
					<div
						v-if="requiredAlert"
						class="alert alert-danger w-100 mt-3 text-left"
						role="alert">
					  {{requiredAlert}}
				    <ul>
				      <li v-for="error in errors">{{ error }}</li>
				    </ul>
					</div>
				</div>
  		</div>
  	</div>
  </section>
</template>

<script>
// @ is an alias to /src
import jQuery from 'jquery'
import SingleSelectGroup from '@/components/SingleSelectGroup.vue'
import SingleSelectGroupSearch from '@/components/SingleSelectGroupSearch.vue'
import { mapGetters, mapActions } from 'vuex'

// assets
import selectArrow from '@/assets/select-arrow.png'

export default {
  name: 'application',
  data () {
  	return {
  		formName: null,
  		formEmail: null,
  		formSelectedSkillSingle: null,
  		selectArrow: selectArrow,
  		requiredAlert: '',
  		errors: [],
  		skills: '',
  		skillset: '',
  		chooseSkills: 'single',
	    options: [
	      { text: 'Vue.js', value: 'vue' },
	      { text: 'React.js', value: 'react' },
	      { text: 'Angular.js', value: 'angular' }
	    ],
	    optionsGroup: [
		    {
		    	groupName: "Front-end",
		    	"list" : [
			      { text: 'Vue.js', value: 'vue' },
			      { text: 'React.js', value: 'react' },
			      { text: 'Angular.js', value: 'angular' }
		    	]
		    },
		    {
		    	groupName: "Back-end",
		    	"list" : [
			      { text: 'Laravel', value: 'laravel' },
			      { text: 'Symphony', value: 'symphony' }
		    	]
		    }
	    ],
	    selectedSkillsGroup: '',
	    selectedSkillsGroupSearch: [],
	    selected: '',
	    showOptions: false,
  		tooltips: {
  			"name": "Let's be friends, please provide your name so we can get it touch with you!",
  		}
  	}
  },
  computed: {
    // ...mapGetters([
    // 	'getApplications'
    // ])
  },
  components: {
    'single-select-group': SingleSelectGroup,
    'single-select-group-search': SingleSelectGroupSearch
  },
  methods: {
    ...mapActions([
    	'addApplication',
    ]),
		selectedOption(option) {
      this.selectedSkillsGroup = option;
    },
		selectedOptionSearch(option) {
      this.selectedSkillsGroupSearch = option;
    },
		validateEmail (email) {
		    const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		    return re.test(String(email).toLowerCase());
		},
  	sendForm (e) {
  		const vm = this
  		e.preventDefault()
			vm.requiredAlert = ''
			vm.errors = []
  		const validateEmail = vm.validateEmail(vm.formEmail)
  		if (
  			(vm.formName && vm.formEmail && validateEmail) &&
  			(vm.selectedSkillsGroup || vm.selectedSkillsGroupSearch || vm.selected)) {
  			if (vm.chooseSkills == 'single') {
  				vm.skills = vm.formSelectedSkillSingle
  			} else if ( vm.chooseSkills == 'single_group') {
  				vm.skills = vm.selectedSkillsGroup
  			} else if ( vm.chooseSkills == 'single_search') {
  				vm.skillset = vm.selectedSkillsGroupSearch
  				console.log('asdas')
  			}
	  		const application = {
	  			name: vm.formName,
	  			email: vm.formEmail,
	  			skills: vm.skills,
	  			skillset: vm.skillset
	  		}
	  		console.log(application)
	  		vm.addApplication(application)
				vm.formName = ''
				vm.formEmail = ''
				vm.formSelectedSkillSingle = ''
				vm.selectedSkillsGroup = ''
				vm.selectedSkillsGroupSearch = ''
  		} else {
	      if (!vm.formName) {
	        vm.errors.push('Name required.');
	      }
	      if (!vm.formEmail) {
	        vm.errors.push('Email required.');
	      } else {
					if (!validateEmail) {
					  vm.errors.push('Email address is not valid.')
					}
	      }
  			if ( vm.chooseSkills == 'single') {
  				vm.skills = vm.formSelectedSkillSingle
		      if (!vm.formSelectedSkillSingle) {
		        vm.errors.push('Skills required.');
		      }
  			} else if ( vm.chooseSkills == 'single_group') {
  				vm.skills = vm.selectedSkillsGroup
		      if (!vm.selectedSkillsGroup) {
		        vm.errors.push('Skills required.');
		      }
  			} else if ( vm.chooseSkills == 'single_search') {
  				vm.skills = vm.selectedSkillsGroupSearch
		      if (!vm.selectedSkillsGroupSearch) {
		        vm.errors.push('Skills required.');
		      }
  			}


  			vm.requiredAlert = 'Sorry, you must complete all fields'
				setTimeout(function(){
					vm.requiredAlert = ''
					vm.errors = []
				}, 5000);
  		}

  	}
  },
  mounted () {
  	jQuery('[data-toggle="tooltip"]').tooltip()
  }
}
</script>

<style lang="scss">
$main-color-blue: #01a4bd;
$main-color-blue-rgb: rgb(1, 164, 189);
$input-bg-color: #f5f8fa;
$tooltip-bg-color: #435c77;
$select-text-color: #ced4da;

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
.form-group {
	&-label {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.btn-tooltip {
		margin-left: 5px;
	}
}
.form-control {
	&.application-form {
		border-radius: 0;
    background-color: $input-bg-color;
    &:focus {
			border-color: $main-color-blue;
			box-shadow: 0 0 0 0.2rem rgba($main-color-blue-rgb, .25);
    }
	}
	&.select-form {
		background-repeat: no-repeat;
		background-position: right;
		background-position-x: 99%;
		-webkit-appearance: none;
		color: $select-text-color;
	}
}
.btn-tooltip {
	display: flex;
	height: 10px;
	width: 10px;
	background-color: gray;
	border-radius: 50%;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
	&:before {
		content: "i";
	}
}
.tooltip-inner {
	background-color: $tooltip-bg-color;
	padding: 25px 20px;
	max-width: 280px;
	text-align: left;
}
.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
	border-right-color: $tooltip-bg-color;
}
.btn {
	&.btn-application {
		border-radius: 0;
		background-color: $main-color-blue;
		color: white;
		display: flex;
		margin-left: auto;
	}
}


</style>
