<template>
  <div
    class="applications-list-container-single">
    <h2 class="applications-list-container-single-name">{{name}}</h2>
    <h5 class="applications-list-container-single-email">{{email}}</h5>
    <h4 class="applications-list-container-single-skills">
      <div v-if="skillset">
        <span v-for="(item, index) in skillset">{{item}} 
          <span v-if="index != Object.keys(skillset).length - 1"> + </span>
        </span>
      </div>
      <span v-if="skills">{{skills}}</span>
      
    </h4>
  </div>
</template>

<script>
export default {
  name: 'SingleApplication',
  props: [
  'name',
  'email',
  'skills',
  'skillset'
  ]
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>
