<template>
  <div>
    <slot></slot>
    <div class="component-container"  @click="showOptions = !showOptions">
      <div class="component__select">
        <span class="component__select--name">{{currentSelected ? currentSelected : ''}}</span>
        <span
          class="c-arrow-down"
          :style="{ backgroundImage: `url('${selectArrow}')`}"></span>
      </div>
      <ul class="component__select-options" v-if="showOptions" >
          <li class="select--option" v-for="option in options" >
              <span class="select--option-name">{{option.groupName}}</span>
              <ul class="select--option-ul">
                <li
                  class="select--option-ul-li"
                  v-for="optionList in option.list">
                  <label class="select--option-ul-li-label"> 
                    <input
                      type="checkbox"
                      :value="option.value"
                      @click.stop="selectOption(optionList)"/> {{optionList.text}}
                  </label>
                </li>
              </ul>
          </li>
      </ul>
    </div>
  </div>
</template>


<script>
  // assets
import selectArrow from '@/assets/select-arrow.png'

export default {
  name: 'SingleSelectGroup',
  data () {
    return {
      showOptions: false,
      selectArrow: selectArrow,
      currentSelected: ''
    }
  },
  props: {
    options: Array
  },
  methods: {
    selectOption(option) {
      this.$emit('selectedOption', option.value)
      this.currentSelected = option.text
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$main-color-blue: #01a4bd;
$main-color-blue-rgb: rgb(1, 164, 189);
$input-bg-color: #f5f8fa;
$tooltip-bg-color: #435c77;
$select-text-color: #ced4da;

.component__select {
  height: 38px;
  background-color: $input-bg-color;
  border: 1px solid #dddddd;
  line-height: 38px;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.component__select--name {
 text-align: left;
  font-size: 0.8rem;
  padding: 0 .75rem;
  cursor: pointer;
}

.c-arrow-down {
  justify-self: end;
}

.component__select-options {
  max-height: 180px;
  border: 1px solid #dddddd;
  border-top: none;
  overflow: auto;
  position: absolute;
  z-index: 1500;
  width: 100%;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 576px) {
    padding-right: 30px;
  }
}
.select--option {
 text-align: left;
  // height: 35px;
  // display: grid;
  align-content: center;
  padding: .5rem;
  background-color: $input-bg-color;
  border-bottom: 1px solid #dddddd;
}

.select--option:last-child {
  border-bottom: none;
}

.select--option input{
  display: none;
}

.single-option {
  height: 55px;
  background-color: #2595ec;
  font-size: 0.8rem;
  border: 1px solid red;
}

.cust-sel {
  width: 200px;
  height: 38px;
  background-color: #f5f5fa;
  border: 1px solid #dddddd;
}

.cust-sel:focus {
  outline-width: 0;
}
.select--option-name {
  color: black;
}
.select--option-ul {
 list-style-type: none;
}
.select--option-ul {
 list-style-type: none;
}
.select--option-ul-li,
.select--option-ul-li-label {
  cursor: pointer;
  color: $select-text-color;
}
.c-arrow-down {
   width: 100%;
   background-repeat: no-repeat;
   background-position: right;
   background-position-x: 89%;
   -webkit-appearance: none;
   color: $select-text-color;
}
</style>
