<template>
  <div>
    <slot></slot>
    <div class="component-container"  >
      <div class="component__select" @click="showOptions = !showOptions">

        <span class="component__select--name">
          <input
            type="text"
            class="component__select--name-search-input"
            v-model="searchOption">
        </span>
        <span
          class="c-arrow-down"
          :style="{ backgroundImage: `url('${selectArrow}')`}"></span>
      </div>
      <ul class="component__select-options" v-show="showOptions" >
          <li class="select--option" v-for="(option, index) in searchedOption" :key="option.id">
              <div class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  :value="option.value"
                  :id="'input'+index"
                  @click="selectOption($event, option)"/>
                <label class="custom-control-label" :for="'input'+index">{{option.text}}</label>
              </div>

          </li>
      </ul>
    </div>
  </div>
</template>


<script>
  // assets
import selectArrow from '@/assets/select-arrow.png'

export default {
  name: 'SingleSelectGroupSearch',
  data () {
    return {
      showOptions: false,
      selectArrow: selectArrow,
      currentSelected: [],
      searchOption: ''
    }
  },
  props: {
    options: Array
  },
  computed: {
    searchedOption () {
      this.currentSelected = []
      let divs = document.querySelectorAll('.custom-control-input[type="checkbox"]');

      [].forEach.call(divs, function(div) {
        // do whatever
        div.checked = false;
      });

      let searchedOptionsArr = this.options;
      let searchOption = this.searchOption;
      if (!searchOption) { return searchedOptionsArr}

      searchOption = searchOption.trim().toLowerCase();
      searchedOptionsArr = searchedOptionsArr.filter(function(item) {
        if (item.text.toLowerCase().indexOf(searchOption) !== -1) {
          return item;
        }
      })
      return searchedOptionsArr;
    },
  },
  methods: {
    selectOption(el, option) {
      console.log(el)
      let optionToRemove = ''
      this.currentSelected.push(option.text)
      let searchOption = option.text
      if (this.currentSelected != '') {
        optionToRemove = this.currentSelected.filter(item => {
          return item === searchOption
        })
        if (optionToRemove[1]) {
          this.currentSelected = this.currentSelected.filter(item => {
            return item !== optionToRemove[1]
          })
        }
      }
      this.$emit('selectedOptionSearch', this.currentSelected)
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$main-color-blue: #01a4bd;
$main-color-blue-rgb: rgb(1, 164, 189);
$input-bg-color: #f5f8fa;
$tooltip-bg-color: #435c77;
$select-text-color: #ced4da;

.component__select {
  height: 38px;
  background-color: $input-bg-color;
  border: 1px solid #dddddd;
  line-height: 38px;
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.component__select--name {
  position: relative;
  text-align: left;
  font-size: 0.8rem;
  padding: 0 .75rem;
  cursor: pointer;
}

.c-arrow-down {
  justify-self: end;
}

.component__select-options {
  max-height: 180px;
  border: 1px solid #dddddd;
  border-top: none;
  overflow: auto;
  position: absolute;
  z-index: 1500;
  width: 100%;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 576px) {
    padding-right: 30px;
  }
}

.select--option {
 text-align: left;
  align-content: center;
  padding: .5rem;
  background-color: $input-bg-color;
}

.select--option:last-child {
  border-bottom: none;
}

.select--option input{
  // display: none;
}

.single-option {
  height: 55px;
  background-color: #2595ec;
  font-size: 0.8rem;
  border: 1px solid red;
}

.cust-sel {
  width: 200px;
  height: 38px;
  background-color: #f5f5fa;
  border: 1px solid #dddddd;
}

.cust-sel:focus {
  outline-width: 0;
}
.select--option-name {
  color: black;
}
.select--option-ul {
 list-style-type: none;
}
.select--option-ul {
 list-style-type: none;
}
.select--option-ul-li,
.select--option-ul-li-label {
  cursor: pointer;
  color: $select-text-color;
}
.c-arrow-down {
   width: 100%;
   background-repeat: no-repeat;
   background-position: right;
   background-position-x: 89%;
   -webkit-appearance: none;
   color: $select-text-color;
}
.custom-control-label {
  cursor: pointer;
}
.custom-control-input:checked~.custom-control-label::before {
  border-width: 3px;
  border-color: $main-color-blue;
  background-color: white;
  color: $main-color-blue;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2301a4bd' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.component__select--name-search-input {
  height: 100%;
  width: 100%;
  background-color: $input-bg-color;
  border: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 0.75rem;
  outline: 0;
}

</style>
